ion-toolbar{
    --background: url(../../assets/back.png)!important;
  }
      
  //  ion-content{
  //   --background: url(../../assets/back.png)!important;
  //   --background-repeat: no-repeat;
  //   --background-size:100% 100%;
  // }


        ion-toolbar{
    --background: url(../../assets/tabs.jpg)!important;
  }
  .bg-transparent {
    background: transparent;
  }