<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon name="md-arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titleT">
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item text-center>
    <h4 class="ion-text-wrap" text-center>Faculdade de Medicina de Hadassah e Universidade Hebraica
      de Jerusalém</h4>
  </ion-item>
  <ion-list>
    <ion-list-header>
      <ion-text color="dark">
        <h3>Orientações</h3>
      </ion-text>
    </ion-list-header>
    <ion-item class="ion-text-wrap">Esse questionário pergunta sobre atividades que as crianças fazem
      movimentando o corpo e usando as mãos. Como a coordenação motora pode mudar à medida que a
      criança cresce e se desenvolve, será mais fácil responder às perguntas se pensar em outras
      crianças que você conhece que tenham a mesma idade que sua criança.
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-text color="dark">
        <h3>Traduzido e adaptado por</h3>
      </ion-text>
    </ion-list-header>
    <ion-item>UFGM - EEFFETO</ion-item>
    <ion-item>Lívia Magalhães</ion-item>
    <ion-item>Ana Amélia Cardoso</ion-item>
    <ion-item>Ana Cláudia Lima</ion-item>
    <ion-item>Aneide Rabelo</ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-text color="dark">
        <h3>Projeto de pesquisa realisado por</h3>
      </ion-text>
    </ion-list-header>
    <ion-item>FCMMG</ion-item>
    <ion-item>Clara Zacarias</ion-item>
    <ion-item>Clara Oliveira</ion-item>
    <ion-item>Gabriela Santos</ion-item>
    <ion-item>Paula Batista</ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-text color="dark">
        <h3>Orientado por</h3>
      </ion-text>
    </ion-list-header>
    <ion-item>Mariana Ribeiro Volpini Lana</ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-text color="dark">
        <h3>Colaborado por</h3>
      </ion-text>
    </ion-list-header>
    <ion-item>Bárbara Moraes</ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-text color="dark">
        <h3>Desenvolvido por</h3>
      </ion-text>
    </ion-list-header>
    <ion-item>Warley Lima</ion-item>
    <ion-item>Guilherme Lima</ion-item>
  </ion-list>
</ion-content>