<ion-app>
  <ion-header>
    <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-button color="dark" (click)="goBack()">
          <ion-icon name="md-arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="titleT">
        Responder
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-list>
      <ion-list *ngFor="let question of questions">
        <ion-item color="none">
          <ion-label class="ion-text-wrap" color="dark">
            <h3>{{question.descricao}}</h3>
          </ion-label>
        </ion-item>
        <ion-item *ngFor="let answer of question.respostas" color="none" lines="none">
          <ion-item lines="none" color="none">
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>{{answer.descricao}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-button expand="block" (click)="showModal(question.id, answer.id)"
                  [disabled]="desabilitaOpcao(answer.id)">Opções</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-item>
      </ion-list>
    </ion-list>

    <div *ngIf="habilitaBotao()">
      <ion-button color="success" expand="full" (click)="salvarRespostas()" fill="solid" shape="round">
        Salvar
      </ion-button>
    </div>
  </ion-content>
</ion-app>